# Verification

Becoming verified helps trial hosts guarantee their requirements are being met when a player signs up for their group. We encourage both supports and damage dealers to take a moment to submit the following:

Tanks and Healers – Submit screen shots or videos of your respective gear and trial clears. support

Damage Dealers – Submit a parse video and trial clears. Make sure to include the whole parse, start to finish. dps

Once submitted an officer will verify your submissions, add clear tags, and parse tags to your profile. Parse videos should be resubmitted after updates to the game are made live that affect damage output. Also please submit additional clears as you acquire them, so your tags can be updated as well. Please remember to review each trial sign up and determine if you meet the requirements before signing up.
